.card {
  padding: 16px;
  background-color: #fff;
  border:2px solid rgba(0,0,0,.125);
  border-radius:.25rem;
  height: 300px;
  width: 200px;
  margin: 0px
}

.row {
  flex-wrap:wrap;
  display:flex;
  margin-right:-15px;
  margin-left:-15px
}

.col {
  float: left;
  padding: 10px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#box {
  border:2px black;
}
